{% assign posts = site.posts | where: "ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <li class="inline-block">
    {% if page.url == post.url %}
    <span class="align-middle mr-lg-0 ml-lg-1 px-1 langswitch">{{ post.lang | upcase }}</span>
    {% else %}
    <a class="align-middle link-primary mr-lg-0 ml-lg-1 px-1 langswitch{% if page.url == post.url %} selected{% endif %}" href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang | upcase }}</a>
    {% endif %}
  </li>
{% endfor %}

{% assign pages = site.pages | where: "ref", page.ref | sort: 'lang' %}
{% for lpage in pages %}
  <li class="inline-block">
    {% if page.url == lpage.url %}
    <span class="align-middle mr-lg-0 ml-lg-1 px-1 langswitch">{{ lpage.lang | upcase }}</span>
    {% else %}
    <a class="align-middle link-primary mr-lg-0 ml-lg-1 px-1 langswitch" href="{{ lpage.url | prepend: site.baseurl }}" class="{{ lpage.lang }}">{{ lpage.lang | upcase }}</a>
    {% endif %}
  </li>
{% endfor %}
