<div class="py-2 mb-2 prose">
  <time>{% include date.html date=post.date %}</time>
  <h2 class="h1 lh-condensed mt-0">
    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p class="col-12">{{ post.content | strip_html | truncatewords:30 }}</p>
</div>
