<!-- Use if you want to show previous and next for all posts. -->
{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}

{% for post in site.posts %}
  {% if post.lang == page.lang %}
    {% if prev %}
      <div class="col-4 sm-width-full left mr-lg-4 mt-3">
        <a class="no-underline border-top-thin py-1 block" href="{{ post.url | prepend: full_base_url }}">
          <span class="h5 bold text-accent">{{ site.labels.previous[page.lang] }}</span>
          <p class="bold h3 link-primary mb-1">{{ post.title }}</p>
          <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
        </a>
      </div>
    {% endif %}
    {% assign prev = false %}
    {% if post.id == page.id %}
      {% assign prev = true %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for post in site.posts reversed %}
  {% if post.lang == page.lang %}
    {% if next %}
      <div class="col-4 sm-width-full left mt-3">
        <a class="no-underline border-top-thin py-1 block" href="{{ post.url | prepend: full_base_url }}">
          <span class="h5 bold text-accent">{{ site.labels.next[page.lang] }}</span>
          <p class="bold h3 link-primary mb-1">{{ post.title }}</p>
          <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
        </a>
      </div>
      {% break %}
    {% endif %}
    {% assign next = false %}
    {% if post.id == page.id %}
      {% assign next = true %}
    {% endif %}
  {% endif %}
{% endfor %}
