header {
  background-color: $maincolor;
  position: relative;
  a {
    &.link-primary {
      &:hover {
        color: $black;
      }
    }
  }
  .solutitle {
    float: left;
    color: $white;
    background: no-repeat center/contain url("../img/logo_transparent.png");
    min-height: 40px;
    min-width: 200px;
  }
  .topnav {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
  &.border-bottom-thick {
    border-color: $darkcolor;
  }
}
.prose {
  p {
    font-size: 16px;
  }
  blockquote {
    margin: 20px 0 20px -16px;
    p {
      font-size: 20px;
    }
  }
}
.h0 {
  font-size: 3em;
  color: $maincolor;
}
.h1 {
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 1px solid $maincolor;
  a {
    color: $black;
  }
}
time {
  font-size: .9em;
  float: right;
  padding: 8px 0;
  color: $gray;
}
article {
  time {
    padding: 0;
  }
}
a {
  color: $darkcolor;
}
a.langswitch {
  border: 1px solid $lightcolor;
  &:hover {
    border: 1px solid $black;
    background-color: $lightcolor;
  }
}
span.langswitch {
  border: 1px solid $black;
  background-color: $lightcolor;
}
.gitlab-button {
  font-size: .8em;
  padding: 2px 10px 2px 42px;
  border: 1px solid $gray;
  border-radius: 3px;
  background: #eee url("../img/gitlab.png") 5px -8px no-repeat;
  &:hover {
    text-decoration: none;
    background-color: $maincolor;
    color: $white;
  }
}
