// Orange theme

$maincolor: rgb(91, 200, 57);
$darkcolor: darken($maincolor, 20);
$lightcolor: lighten($maincolor, 20);
$gray: #767676;
$white: #fff;
$black: #181818;

$color-background: $maincolor !default;
$color-dot-accent: $black !default;
$color-foreground: $black !default;
$color-title: $darkcolor !default;
$color-body-text: $black !default;
$color-text-accent: $darkcolor !default;
$color-code: $gray !default;
$color-nav-link: $white !default;
$color-primary-link: $maincolor !default;
$color-border: $maincolor;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "custom"
;