---
layout: default
---
<article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
  <h1 class="h0 col-9 sm-width-full py-1 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
  {% unless page.tags contains "method" %}
  <div class="col-12 sm-width-full mt-1 border-top-thin ">
    <p class="mb-3">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.html date=page.date %}
      </time>
      {% if page.author %}
      {{ site.labels.by[page.lang] }}
      <author>{{ page.author }}</author>
      {% endif %}
    </p>
  </div>
  {% endunless %}
  <div class="prose" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<div class="container mx-auto px-2 py-2 clearfix">
  {% unless page.tags contains "method" %}
  {% include previous-next.html %}
  {% endunless %}
</div>
